/.idea/
#/greenter/*
#!/greenter/generates/
#!/greenter/src/
#!/greenter/resources/
/nbproject/
#/archivos/clientes/logos/*
#/archivos/clientes/monitoreos/*
#/archivos/cotizaciones/*
#/archivos/equipos/*
#/archivos/ventas/*
